.mainHeaderTitle {
  letter-spacing: .06em;
  text-transform: uppercase;

  font-size: .8em;
  font-weight: bold;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.visually-hidden + label {
  position: relative;
  border: 6px solid transparent;
  border-radius: 3%;
  background-color: #f7f7f9;
  cursor: pointer;
  &:before {
    position: absolute;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;

    display: block;

    content: '';

    border: 1px solid #cdcde5;
    border-radius: 5px;
  }
}

.visually-hidden:checked + label {
  position: relative;

  border: 6px solid #76a7e1;
  &:after {
    position: absolute;
    z-index: 2;
    top: -1.1em;
    right: -.9em;

    width: 2em;
    height: 2em;

    content: '\f00c';
    text-align: center;

    color: #ffffff;
    border-radius: 50%;
    background: #76a7e1;

    font-family: FontAwesome;
    font-size: 100%;
    font-weight: 900;
    line-height: 2em;
  }
}

.button__remove {
  opacity: .8;
  border: none;
  outline: none;

  &:hover {
    opacity: 1;
  }
}

.section {
  counter-increment: section;
}

.button__add {
  margin-left: 12px;
  padding: 19px 34px 18px 55px;

  opacity: .8;
  outline: none;
  background-color: #f7f7f9;
  &:hover {
    opacity: 1;
  }
  .fa-plus {
    top: 19px;
    left: 31px;

    font-size: 14px;
  }

}

.fa-trash {
  opacity: .5;

  font-size: 18px;
}




.sectionHeader {
  position: relative;

  font-size: 1.5em;

  &:before {
    position: absolute;
    top: -8px;
    left: -69px;

    width: 41px;
    height: 41px;

    content: counter(section);
    text-align: center;

    border: .06em solid #6e768f;
    border-radius: 50%;

    font-size: .8em;
    line-height: 2.1em;
  }
}

.sectionBlock{
  display: flex;
  justify-content: flex-start;
}
