@import 'reset.scss';
@import 'variables.scss';
@import 'footer.scss';
@import 'dribbleHeaderModule.scss';
@import 'headerSection.scss';
@import 'translateSection.scss';
@import 'languageSection.scss';
@import 'toneSection.scss';
@import 'urgentSection.scss';
@import 'signUpSection.scss';
@import "wrapperContainer_content.scss";
@import 'uploadSection.scss';

.wrapperContainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  background-color: #edeef3;
  background-size: cover;
}



main {
  border: 1px solid #cdcde5;
  border-collapse: collapse;
  border-radius: 5px;
  background-color: $white-color;
  @import "mainBlock.scss";
}
