@import "variables.scss";
.uploadSection {
    margin-top: 109px;
    .uploadHeader {
        margin-left: 11.3%;
        .uploadHeader__formats {
            text-transform: capitalize;

            font-size: .6em;
            font-weight: 300;
        }
    }
    .uploadFileBtn {
        display: none;
    }
    .uploadFileBtnLabel {
        position: relative;

        display: inline-block;

        margin-top: 54px;
        margin-left: 11.5%;
        padding: 19px 37px 15px 67px;

        font-size: 1em;
        .uploadFileBtnText {
            letter-spacing: 0;
            text-transform: initial;

            font-size: 1em;
            font-weight: 400;
        }
        .fa-cloud-upload {
            position: absolute;
            top: 17px;
            left: 32px;

            font-size: 18px;
        }
    }

    .uploadFiles {
        width: 79.21%;
        margin: 39px 11.3%;

        text-align: left;

        border: 1px solid #cdcde5;
        border-radius: 5px;

        .uploadFilesHeader {
            letter-spacing: .11em;
            text-transform: $upper_text;

            font-size: .7em;

            th {
                padding-top: 31px;
                padding-left: 44px;
                font-weight: 800;
            }
        }
        tr {
            td {
                padding-top: 22px;
                padding-left: 44px;
                .fa-file-text {
                    padding-right: 20px;

                    font-size: 1.15em;
                }
            }
            &:last-child td {
                padding-bottom: 30px;
            }
        }

        .button__remove {
            margin-left: 12px;
        }
    }
}
