@import 'variables.scss';
.wrapperContainer_content {
  width: 79.1%;
  margin: 0 auto;

  color: $content-color;

  font-family: $font-stack;

  a {
    color: inherit;
  }

  .button {
    position: relative;

    display: inline-block;

    min-width: 100px;

    cursor: pointer;
    transition: all .2s;
    text-align: center;
    text-decoration: none;
    letter-spacing: .14em;
    text-transform: $upper_text;

    color: inherit;
    border: 1px solid #d9d8de;
    border-radius: 5px;
    outline: none;

    font-size: .7em;
    font-weight: $bold-weight;

    &:hover {
      color: $white-color;
      border-color: $button-hover-borderColor;
      background-color: $button-hover-bgColor;
    }

    .fa {
      position: absolute;
      top: 17px;
      left: 33px;

      display: inline-block;

      font: normal normal normal 18px FontAwesome;
    }
  }
}
