.enterWeather {
  display: inline-block;
  width: 400px;
  height: 32px;
  border: 1px solid #ccc;
  font-size: 1em;
  padding: 3px 10px;
  font-weight: 300;
  border-radius: 4px;
}

.searchWeather__button {
  display: inline-block;
  background-color: #3775dd;
  box-shadow: 0 2px #21487f;
  border-color: transparent;
  color: #fff;
  font-size: 1em;
  line-height: 32px;
  margin-left: 5px;
  margin-right: 0;
  min-width: 92px;
  padding-left: 14px;
  padding-right: 14px;
  text-align: center;
  font-weight: 300;
  outline: none;
  box-sizing: content-box;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: top;
}
