header {
    grid-template-columns: 1fr 1fr;
}

.timeBlock {
    margin-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    align-self: center;
    grid-row: 2;
    justify-self: center;
    order: 2;
}
.logo {
    grid-column: span 2;
    order: 1;
}
.logInBlock {
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    align-self: center;
    justify-self: center;
    order: 2;
}
